
  <h1>User info</h1>
  <% books.each do |book| %>
<table>
  <tbody>
   <tr></tr>
    <th>name</th>
    <th><%= book.user.name %></th>
   <tr>
    <th>introduction</th>
    <th><%= book.user.introduction %></th>
   </tr>
  </tbody>
<% end %>
</table>

<h1>New Book</h1>

<%= form_with model: @book do |f| %>

  <h4>本のタイトル</h4>
  <%= f.text_field :title %>

  <h4>感想</h4>
  <%= f.text_area :body %>

  <%= f.submit 'Create Book' %>
<% end %>


