<h1>Books#show</h1>
<div>
  <p>投稿ユーザー画像：<%= image_tag @book.user.get_profile_image(100,100) %></p>
  <%= image_tag @book.get_image %>
  <p>本のタイトル：<%= @book.title %></p>
  <p>感想：<%= @book.body %></p>
  <p>投稿ユーザー画像：<%= image_tag 'no_image.jpg' %></p>
  <p>ユーザーネーム：<%= @book.user.name %></p>
  <% if @book.user == current_user %>
    <%= link_to "編集", edit_book_path(@book) %>
  <% end %>
  <% if @book.user == current_user %>
    <%= link_to "削除", book_path(@book.id), method: :delete, "data-confirm" => "本当に消しますか？" %>
  <% end %>

</div>